<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>219770415722-up1432hdquru5f3k4bv5vi3drps8kqd3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.219770415722-up1432hdquru5f3k4bv5vi3drps8kqd3</string>
	<key>API_KEY</key>
	<string>AIzaSyBUw1yttpZZHUkX9WN8bgfXogNyIpdYTA4</string>
	<key>GCM_SENDER_ID</key>
	<string>219770415722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wachirastudio.com.paeshoppingmall</string>
	<key>PROJECT_ID</key>
	<string>fluttershopping-de58a</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttershopping-de58a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:219770415722:ios:cfe205325554aa0743b813</string>
	<key>DATABASE_URL</key>
	<string>https://fluttershopping-de58a.firebaseio.com</string>
</dict>
</plist>